.text-type {
  display: block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.05em;
  display: inline;
}

.text-type__cursor--hidden {
  display: none;
}

.text-type__content {
  display: inline;
}
